.org-dash-main-wrapper {
  display: flex;
}
.orgDash {
}

.org-main-buttons {
  display: flex;
  flex-direction: column;
  padding-right: 20%;
  padding-bottom: 1%;
}
.org-main-button {
  padding: 5%;
  height: 18%;
  margin: 10%;
  border-radius: 5%;
  /* flex-grow:1; */
}

.navButtons {
}

.navButtons > button {
}
.org-main-events{
    flex:2;
}
