.orgDash {
    background: whitesmoke;
    margin: 0 15%;
    display: flex;
}

.profilePic {
    padding-left: 10px;
}


.org-main-button {
    background: #4594d1;
    color: black;
    padding: 5%;
    height: 80px;
    width: 82%;

    border-radius: 5%;
}

.org-main-button:hover {
    background: orange;
    transition: 1s;
}

.org-main-events {
    margin-left: 10%;
    border-left: 2px solid rgb(224, 213, 213);
    padding: 2%;
}



@media only screen and (max-width: 360px) {
    .org-dash-side-bar {
        margin-right: auto;
        margin-left: auto;
    }

    .org-dash-side-bar h2 {
        padding: 0;
    }

    .org-main-events {
        margin: 5%;
    }

    .profilePic {
        padding-left: 40px;
    }
}
