/******DASHBOARD************/

nav ul {
    visibility: visible;
}
.dashboard-main {
    border-left: 40px solid orange;
}

.event-title {
    font-family: "Source Sans Pro", sans-serif;
    color: #4594d1;
}
li {
    text-align: left;
}
.event-card {
    flex-direction: row;
}
.event-details {
    display: flex;
    flex-direction: column;
    line-height: 2;
}



/**********DASHBOARD ASIDES****************/
.dashboard-main {
    display: flex;
    flex-direction: column;
}
.my-events {
    order: 3;
    width: 30%;
    margin-top: -14rem;
    padding: 2%;
}
.my-events ul {
    display: flex;
    flex-wrap: wrap;
}

.dashboard-aside-following {
    order: 1;
    flex-direction: row;
}
.dashboard-aside-following,
ul {
    padding: 2%;
    display: flex;
    margin: auto;
    width: 100%;
}
aside {
    display: flex;
    flex-direction: column;
    background: white;
}
.dashboard-aside-mygroups {
    border-left: 1px solid orange;
    order: 2;
    align-self: flex-end;
}

.dashboard-aside-mygroups ul {
    display: flex;
    flex-direction: column;
}
.dashboard-aside-mygroups,ul,li{
  padding: 2%;
}
aside h3 {
    font-size: 1rem;
}
