.orgDash {
    background: whitesmoke;
    margin: 0 15%;
    display: flex;
}

.profilePic,
.org-dashboard-name {
    padding-left: 5%;
}

.org-main-button {
    background: #4594d1;
    color: black;
    padding: 5%;
    height: 80px;
    width: 82%;

    border-radius: 5%;
}

.org-main-button:hover {
    background: orange;
    transition: 1s;
}

.org-main-events {
    padding: 5%;
}

@media only screen and (max-width: 360px) {
    .org-dash-side-bar {
        margin-right: auto;
        margin-left: auto;
    }

    .org-dash-side-bar h2 {
        padding: 0;
    }

    .org-main-events {
        margin: 5%;
    }

    .profilePic {
        width: 75%;
    }

    .orgDash {
        flex-direction: column;
        margin: 0;
    }
}
