$footer-padding: 1.5rem 1.5rem
$primary: #95aae1
$info: #427ed0
$success: #84A3D1
$warning: #B6BCE3
$danger: #FAF8F5
$grey-lighter: #edeaee
  
@import "../../node_modules/bulma/bulma.sass"

.columns 
  flex-wrap: wrap

