.navbar-container{
    border-bottom: 4px solid #e0e2e2;
    height: 8rem;
}
nav {
    margin: 0 10%;
    display: flex;
}
nav .logo-container {
    display: flex;
    margin: auto 3rem auto 0;
}
nav .logo-container a {
    margin: auto;
    text-decoration: none;
}

.brand-logo {
    font-size: 3rem;
}
#logo1 {
    color: red;
}
#logo2 {
    color: orange;
}
nav .logo-img {
    height: 8rem;
}
#nav-mobile{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
#nav-mobile li{
    padding:1rem;
}
#nav-mobile li a{
text-decoration: none;
color: orange;
padding: 2%;
}
#nav-mobile a:hover {
    color: #a0e4e5;
    transition: 0.5s;
  }