body {

  margin: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.container,
.footer-container,
.header-container {
  /* font-family: 'PT Sans', sans-serif; */
  /* font-family: 'PT Sans Narrow', sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 15%;
}
.header-container {
  border-bottom: 3px solid #e0e2e2;
}
header {
  margin: 0 15%;
  /* max-height: 4rem; */
}

header {
  display: flex;
}
.logo {
  font-size: 75%;
  padding-right: 25%;
}
main {
  padding: 5%;
  min-height: 45vh;
}
p {
  text-align: center;
}
form {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
}
form button {
  padding: 2%;
  width: 17%;
  border-radius: 5%;
  text-transform: uppercase;
  font-weight: bold;
}
.button-register {
  color: white;
  background: #32a886;
}
nav {
  color: #32a886;
  font-weight: bold;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
}
ul li {
  padding-right: 1.5rem;
  list-style: none;
  font-size: 60%;
}
.footer-container {
  background: #32a886;
}
footer {
  font-size: 70%;
  margin: 0 15%;
  color: white;
  padding: 2%;
}

.sub-footer {
  font-size: 60%;
  padding-top: 1%;
  background: #388c74;
  color: white;
  text-align: center;
}
