.create-org-container {
    margin: 5%;
}

.create-org-form {
    margin: 0 25%;
    padding: 0;
}

@media only screen and (max-width: 900px) {
    .create-org-container {
        margin: 0;
    }
    .create-org-form {
        margin: 0 5%;
    }
}

@media only screen and (max-width: 600px) {
    .create-org-container {
        border-left: none;
    }
    .create-org-form {
        margin: 0 5%;
    }
}
