.create-org-form {
    display: flex;
    flex-direction: column;
    padding: 3%;
    background: whitesmoke;
    font-size: 75%;
}

h1 {
    text-align: center;
}

.create-org-form-button {
    padding: 10px;
    width: 8rem;
    margin: 5% auto;
    background: orange;
    border-radius: 5%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

.create-org-form-button:hover {
    background: #4594d1;
    color: white;
    transition: 0.5s;
}

.create-org-form label {
    text-align: center;
    padding: 2%;
}

.create-org-form input {
    width: 50%;
    margin: auto;
}

.org-form-center-text {
    text-align: center;
    padding: 1%;
    font-size: 1rem;
}

.create-org-form textarea {
    width: 50%;
    margin: auto;
}

.create-org-form textarea:invalid {
    border: 2px dashed red;
}

@media only screen and (max-width: 360px) {
    .create-org-form label {
        display: none;
    }

    .create-org-form input {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .create-org-form textarea {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
