.create-event-form {
   
  /* display: inline-block; */
  /* flex-direction:row; */
  /* margin-right: auto; */
  /* margin-left: auto; */
  /* width: 40%; */
  /* justify-content: space-around; */
  /* padding: 2%; */
  /* margin: 2%; */
}
.create-event-row {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex:1; */
  /* padding: 2%; */
}

.create-org-form {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}

.create-org-row {
  padding: 2%;
}

.org-main{
    display: flex;
}