.event-public-container {
    margin-left: 15%;
    margin-right: 15%;
    background: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    color:black;
}

.event-public-description{
    margin-left: 15%;
    margin-right: 15%;
}

.event-public-date{
    margin-top:3vw;
}

.event-public-date span{
    color: orange;
}