.event {
    display: flex;
    align-items: flex-start;
}

.event-container {
    /* optional */
    margin: 20px;
    margin-left: 10px;
    padding: 30px;
    border: 1px solid black;
}

.organization-container {
    flex-grow: 1;

    /* optional */
    margin: 20px;
    margin-right: 10px;
}
