.event-container {
    margin: 5%;
}

.organization-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-right: 10px;
}

.event-page-container {
    margin: 5%;
}

.organization-name,
.organization-contact,
.event-image {
    margin-left: 5%;
}

.event-name {
    color: orange;
}

button.event-public-rsvp-button {
    color: white;
    margin: 5% auto;
    background-color: #4594d1;
    border: none;
    width: 16rem;
}

button.event-public-rsvp-button:hover {
    background: orange;
    transition: 0.5s;
}

.event-public-comment {
    width: 20rem;
    height: 7rem;
}

@media only screen and (max-width: 360px) {
    button.event-public-rsvp-button {
        width: 10rem;
    }

    .event-public-comment {
        width: 11rem;
    }
}
