.login-container {
    background: whitesmoke;
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    /* padding: 5%; */
}

.login-flex{
    display:flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 2%;
}
#email,
#password,
label {
    /* padding: 2%; */
    /* width: 15rem; */
    /* margin: auto; */
}

button.login-form-submit-button {
    color: white;
    margin: 2% auto;
    background-color: #4594d1;
    border: none;
    width: 15rem;
}
button.login-form-submit-button:hover {
    background: orange;
    transition: 0.5s;
}
