.login-container {
    background: whitesmoke;
    margin: 0 15%;
    display: flex;
    flex-direction: column;
}

.register {
    margin-left: 5px;
}

.login-flex {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    text-align: center;
}

#email,
#password {
    text-align: center;
    padding: 4%;
    font-size: 1rem;
}

button.login-form-submit-button {
    color: white;
    margin: 5% auto;
    background-color: #4594d1;
    border: none;
    width: 16rem;
}

button.login-form-submit-button:hover {
    background: orange;
    transition: 0.5s;
}

.font-increase {
    font-size: 1vw;
}

@media only screen and (max-width: 1050px) {
    .font-increase {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 500px) {
    .font-increase {
        font-size: 4vw;
    }
}
