.login-container {
    background: whitesmoke;
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: auto;
}
#email,#password, label {
    padding: 2%;
    width: 15rem;
    margin: auto;
}

.login-form-submit-button {
    /* width: 5rem; */
    margin: 2% auto;
    background-color: #4594d1;
    border-radius: 5%;
}
