.org-public-page-main {
  /* display: flex;
  flex-direction: column;
  align-items: stretch; */
}
.org-public-header {
  background-color: rgb(231, 220, 220);
  display: flex;
}
.org-public-logo {
  /* border: 1px solid black; */
}
.org-public-social {
  /* background-color: #e0f1f1;
  margin: auto;
  padding: 1%; */
}
.org-public-social ul {
  /* display: flex;
  flex-direction: row; */
}
.org-public-social ul li {
  /* list-style: none;
  padding-right: 1%; */
}
.org-public-calltoaction {
  /* display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5%; */
}
.org-public-calltoaction button {
  /* margin: 2%; */
}

.org-public-content {
  /* display: flex;
  border: 1 px solid black;
  background-color: grey;
  margin: 0 10% 10%;
  padding: 10%; */
}

.org-public-text-area {
  /* flex-direction: column; */
}
.org-public-footer {
  /* background-color: rgb(232, 243, 232); */
}
