.registration-container {
    background: whitesmoke;
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-left: 40px orange solid;
}

.registration-form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: auto;
}
.registration-inputs, label {
    padding: 2%;
    width: 15rem;
    margin: auto;
}

.registration-form-submit-button {
    color: white;
    background-color: #4594d1;
    border-radius: 5%;
    text-transform: uppercase;
    font-weight: bold;
}

.registration-form-submit-button:hover{
    background: orange;
    transition: 0.5s;
}
