.registration-container {
    background: whitesmoke;
    padding: 5%;
    display: flex;
    justify-content: center;
}

.registraion-flex{
    display: flex;
    justify-content: center;
}

.loginLink {
    margin-left: 5px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: auto;
    text-align: center;
}
.registration-inputs, label {
    padding: 2%;
    width: 15rem;
    margin: auto;
}

.registration-form-submit-button {
    color: white;
    background-color: #4594d1;
    border: none;
}

.registration-form-submit-button:hover{
    background: orange;
    transition: 0.5s;
}
