.registration-container {
    background: whitesmoke;
    padding: 5%;
    display: flex;
    justify-content: center;
}

.registraion-flex {
    display: flex;
    justify-content: center;
}

.loginLink {
    margin-left: 5px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: auto;
    text-align: center;
}

.registration-inputs,
label {
    width: 15rem;
    margin: auto;
    text-align: center;
    padding: 4%;
    font-size: 1rem;
}

.registration-form-submit-button {
    border: none;
    color: white;
    margin: 5% auto;
    background-color: #4594d1;
    border: none;
    width: 16.5rem;
}

.registration-form-submit-button:hover {
    background: orange;
    transition: 0.5s;
}
