.flex-container{
    display: flex;
}

.container-search {
    margin: 0 15%;
    border-left: 40px solid orange;
    padding: 5%;
    background: whitesmoke;
}
.hero-box {
    display: flex;
    flex-direction: column;
    border-left: 20px #4594d1 solid;
}
.search-hero {
    color: #0b88f4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    width: 100%;
}
img {
    width: 15rem;
}
.form-search {
    color: #0b88f4;
    height: 20rem;
    display: flex;
    flex-direction: column;
    margin: -10% 0 0 10%;
}
#event-search-select {
    padding: 2%;
    text-transform: uppercase;
    color: white;
    background: #0b88f4;
    font-weight: bold;
    font-size: 1.15rem;
}
input {
    height: 3rem;
    text-align: center;
}
#search-button {
    margin: 2% auto;
    width: 8rem;
    color: #0b88f4;
    background: orange;
    border-radius: 11%;
}

.blocker{
    display: block;

}