.container-search {
    margin: 0 15%;
    padding: 5%;
    background: whitesmoke;
}

.search-form-container {
    color: #0b88f4;
    display: flex;
    justify-content: center;
}

.search-form-child {
    margin: 0;
    border: 0 !important;
}

#event-search-select {
    padding: 2%;
    text-transform: uppercase;
    color: black;
    background: white;
    font-weight: bold;
    font-size: 1vw;
    width: 35%;
}

#search-form-input {
    text-align: center;
    width: 30%;
    font-size: 1vw;
}

#search-form-button {
    width: 8rem;
    color: #fff;
    background: orange;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;
}

.blocker {
    display: block;
}

.form-search {
    margin: 5%;
}

@media only screen and (max-width: 900px) {
    .hero-box {
        display: none !important;
    }
    .container-search {
        margin: 0 2%;
    }
    #search-form-input {
        font-size: 1rem;
    }
    #event-search-select {
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 400px) {
    #search-form-input {
        font-size: 0.6rem;
        width: 50%
    }
    #event-search-select {
        font-size: 0.25em;
        width: 50%;
    }
}
