.container-search {
    margin: 0 15%;
    padding: 5%;
    background: whitesmoke;
}

.search-form-container {
    color: #0b88f4;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.search-form-child {
    margin: 2% auto;
}
#event-search-select {
    padding: 2%;
    text-transform: uppercase;
    color: white;
    background: #0b88f4;
    font-weight: bold;
    font-size: 1.15rem;
    width: 35%;
}
#search-form-input {
    height: 3rem;
    text-align: center;
    width: 30%;
    font-size: 1.25rem;
}
#search-form-button {
    width: 8rem;
    color: #fff;
    background: orange;
    text-transform: uppercase;
    font-weight: bold;
}

.blocker {
    display: block;
}

@media only screen and (max-width: 900px) {
    .hero-box {
        display: none !important;
    }

    .form-search {
        margin: -15% 0 0 -10%;
    }
    .container-search {
        margin: 0 2%;
    }
}
