.orgDash {
  padding: 10px;
}

.nav {
  width: 10%;
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.navButtons {
  background-color: rgb(202, 197, 197);
}

.navButtons > button {
  width: 90%;
  padding: 6px 8px 6px 16px;
  margin: 3%;
}
