<form action="user-rating">
  <fieldset>
    <legend>Rate us!</legend>
  </fieldset>
  <select name="" id="">
    <option value="">1</option>
    <option value="">2</option>
    <option value="">3</option>
    <option value="">4</option>
    <option value="">5</option>
  </select>
</form>
<form action="rate-us">
  <label for="rate-us">Rate us!</label>
  <select name="" id="">
    <option value="">1</option>
    <option value="">2</option>
    <option value="">3</option>
    <option value="">4</option>
    <option value="">5</option>
  </select>
</form>
