/* old stuff, commented out for safety */
/* body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#logo {
    height: 3.5rem;
    width: 3.5rem;
    overflow: hidden;
    position: absolute;
}

.brand-logo {
    left: 50px;
}

nav ul a {
    color: teal !important;
}*/

.sidenav-trigger {
    position: absolute;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
}
* {
    font-family: "Montserrat", sans-serif;
    /* font-family: 'PT Sans', sans-serif; */
    /* font-family: 'PT Sans Narrow', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
}
.container,
.footer-container,
.header-container {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    background: whitesmoke;
}

/****************HEADER************************************/
.header-container {
    border-bottom: 3px solid #e0e2e2;
}
header {
    margin: 0 15%;
    max-height: 4rem;
    display: flex;
}

.logo {
    font-size: 90%;
    padding-right: 20%;
    align-self: center;
}
.logo-style-one {
    color: red;
}
.logo-style-two {
    color: orange;
}

/*********NAV*******************************************/
.hamburger {
    color: teal !important;
    height: 50px;
}

#hamburger {
    font-size: 2.5rem !important;
    margin-left: 12px;
    margin-top: 2px;
    display: none;
    visibility: hidden;
} 

#mySidenav.false {
    display: none;
    width: 0;
}
  
#mySidenav.true {
    display: block;
    margin: 0;
    width: 250px;
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #4594d1; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#mySidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    display: block;
}

#mySidenav.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

nav {
    color: orange;
    font-weight: bold;
}
nav ul {
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
}
ul li {
    padding-right: 1.5rem;
    list-style: none;
    font-size: 50%;
}
a {
    text-decoration: none;
    color: orange;
}

nav a:hover {
    color: #a0e4e5;
    transition: 0.5s;
}

/************MAIN******************************************/

.landing-page-main {
    padding: 5%;
    min-height: 45vh;
    background-image: url("./img/community.jpg");
    background-size: cover;
    background-color: #fff;
}
.text-box {
    background-color: #fff;
    opacity: 0.5;
    padding: 4%;
}

p {
    text-align: center;
    font-weight: bold;
    color: #4594d1;
}
form {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
}
form button {
    padding: 2%;
    border-radius: 5%;
    text-transform: uppercase;
    font-weight: bold;
}
.button {
    flex-shrink: 2;
}
.button-register {
    color: orange;
    background: #4594d1;
}
.button-register:hover {
    color: #4594d1;
    background: orange;
    transition: 1s;
}
.button-login {
    color: #4594d1;
    background: orange;
}
.button-login:hover {
    color: orange;
    background: #4594d1;
    transition: 1s;
}

/*****FOOTER************************************/

.footer-container {
    background: #4594d1;
}
footer {
    font-size: 70%;
    margin: 0 15%;
    color: white;
    padding: 2%;
}

.sub-footer {
    font-size: 60%;
    padding-top: 1%;
    background: rgb(29, 147, 187);
    color: white;
    text-align: center;
}

@media only screen and (max-width: 900px) { /*mobile styles*/
    #hamburger {
        display: block;
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 10px;
    } 
    
    .logo {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    nav {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-width: 350px) { mobile styles */
    body {
        background: green;
    }
}